<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ .Site.Title }} | {{ cond .IsHome "home" ( .Title | lower ) }}</title>
    <link rel="icon" type="image/x-icon" href='{{ (resources.Get "images/favicon.jpg").RelPermalink}}'>
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="stylesheet" href="/css/normalize.css">
    {{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet">
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.1.1/model-viewer.min.js"></script>
</head>