@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/typography";
@import "base/reset";
@import "components/post";
@import "layout/header";

@import "pages/home";
@import "pages/page";
@import "pages/post";

html {
    @include flex(row, nowrap, start);
    scroll-behavior: smooth;

}

body {
    @include flex(column, nowrap, normal, normal, 1);
    min-height: 100vh;
    max-width: 786px;
    // background: linear-gradient(to top, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    background-attachment: fixed;
}

.wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "aside main";
}

.nav-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    } 
    .nav-wrapper {
        position: initial;
    }
    
}

aside {
    background-color: white;
    border: 1px solid lightgray;
    padding: 1.5em;
    grid-area: aside;
}

header {
    @include flex(column, nowrap, normal, normal, 1);
    gap: 0.5em;
}

main {
    padding: 1.5em;
    grid-area: main;
}

.project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 1em;
}

.project img {
    width: 100%;
    height: auto;
    
}

nav > ul li {
    list-style: "❀";
    color: blue;
    list-style-position: inside;
}
.current {
    font-weight: bold;
}

nav a {

}

.details {
    @include flex(column, nowrap, normal, normal, 1);    
}

.posts {
    @include flex(column, nowrap, normal, normal, 1);
    gap: 1em;
}

.post {
    @include flex(column, nowrap, normal, normal, 1);
    max-width: 400px; 
    gap: 1em;
    padding: 1em;
    border: 1px solid lightgrey;
    &-header {
        @include flex(row, nowrap, center, space-between, 1); 
        border-bottom: 1px solid lightgrey;
        padding-bottom: 0.25em;
    }
    &-main {
        @include flex(column, nowrap, normal, normal, 1); 
        gap: 1em;
    }
}