<div class="text mx-auto p-3">
<p class="text-center"><b>artist statement</b> 📝</p>
<p>my name is hilah (ee-la) and i'm a multi-media artist. i make images, essays, websites, and songs. varying mediums help me sift through and organize the different personal experiences that my work is informed by. </p>   
<p>i grew up virtually on the internet in forums, online games, and chatrooms, but physically, i've lived in the midwest my whole life. much of my childhood was spent introspectively and anonymously, fostering an inward perception of myself online in a way that i wasn't able to in real life.</p>    
<p>as long as i can remember, i've been enamored in some way with expressing personal isolation. there's something about the act of creating out of a necessity to express an emotion that is uniquely validating. often times seeing my own feelings manifested in a product of creativity is the only way they can feel real. i try to catalogue these manifestations into personal archives that i prefer to exist informally and partially. often i come back to my archives and dwell on the memories and feelings contained within, sometimes reorganizing or adding to them.
</p>    
<p>-hilah <span class="text-danger">❤️</span></p>
<small>9/16/2022 11:23pm</small>

</div> 