<div class="text-center w-fit text mx-auto p-3">
    <img class="img-fluid mb-3" src="../../images/home.jpg" />    
    <p class="fw-bold">hilah katherine t.</p>
    <p class=""><span>recent work: </span><a href="girlhood">girlhood</a> | <a href="">?</a></p>
    <p class=""><a href="artist-statement">artist statement</a></p>
    <p class="mb-0"><a href="resume">resume</a> | <a href="cv">cv</a></p>
</div>